---
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
interface Props {
  gallery: CollectionEntry<'gallery'>;
}
import { Image } from 'astro:assets';
import Base from "$layout/Base.astro";
import Section from '$part/Section.astro';
import Icon from '$part/Icon.svelte';
import { getFilenameOnly, titleCase } from '$util/string';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const galleries = await getCollection('gallery');
  return galleries.map(gallery => ({
    params: { slug: gallery.id }, props: { gallery },
  }));
}
function deslug(filename: string) {
  return filename.replace(/-/g, ' ');
}
const { gallery } = Astro.props;
const { imageFolder, images, captions } = gallery.data;
const loaded = import.meta.glob<{ default: ImageMetadata; }>('/src/assets/**/*.{jpeg,jpg,png,webp}', { });
const available = new Set(Object.keys(loaded));
const galleryImg = images && images.length ?
  images.flatMap(img => available.has(`${imageFolder ?? ''}${img.path}`) ? [{...img, path: `${imageFolder ?? ''}${img.path}`}] : []) :
  Object.keys(loaded).filter(path => path.startsWith(imageFolder ?? '')).map(path => ({
    path,
    caption: captions?.[getFilenameOnly(path)] ?? (gallery.data.autocaption ? titleCase(deslug(getFilenameOnly(path))) : undefined)
  } as {
    path: string;
    caption?: string | undefined;
  }));
const firstImg = galleryImg.length ? (await loaded[galleryImg[0].path]()).default : undefined;
const { Content } = await render(gallery);
---
<Base head={{title: gallery.data.title, description: gallery.data.excerpt ?? '', socialImg: firstImg }} proseFoot={true}>
  <Section>
    <div class="relative pt-px">
      <div class="flex flex-col gap-4 py-8 md:px-8 mx-auto max-w-prose box-content  bg-zinc-900">
        {gallery.data.aicontent && <div class="p-4 rounded-sm bg-rose-700 text-white flex flex-row items-center gap-2"><Icon icon="warning" class="size-6" /> This gallery contains AI generated images.</div>}
        <div class="flex flex-row gap-4">
          <h1 class="text-4xl font-bold mb-2 font-serif" transition:name={`gallery-title-${gallery.id}`}>{gallery.data.title}</h1>
        </div>
        <div class="mt-2 prose prose-invert prose-a:text-blue-300 prose-a:hover:underline prose-a:no-underline prose-lg prose-headings:font-serif prose-headings:font-bold">
          <Content />
        </div>
        <div>
          <a href="/" class="text-blue-300 hover:underline mt-4">&larr; Home</a>
        </div>
      </div>
      <ul class="grid gap-4 grid-cols-1 lg:grid-cols-2 xl:-mx-20 2xl:-mx-64">
        {galleryImg.map((gi, i) => <li><figure class="rounded-lg drop-shadow-lg bg-zinc-800"><Image src={i === 0 ? firstImg! : loaded[gi.path]()} alt="Gallery image" class:list={["rounded-t-lg w-full object-cover", {'rounded-b-lg': !gi.caption}]} />{gi.caption && <figcaption class="px-5 py-3 text-center text-lg font-semibold">{gi.caption}</figcaption>}</figure></li>)}
      </ul>
    </div>
  </Section>
</Base>