---
import Base from "$layout/Base.astro";
import { config } from "$util/config";
import Section from "$part/Section.astro";
import Social from "$part/Social.svelte";
import Project from "$part/Project.astro";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
// const posts = await getCollection('blog', ({ data }) => {
//   return data.draft !== true;
// });

---

<Base head={{title: config.title, description: config.description }}>
	<Section>
		<h2 class="font-bold text-4xl mb-6 font-serif">Hi there, I'm <span class="text-emerald-500">Colin</span></h2>
		<div class="prose prose-invert prose-lg mb-6 prose-strong:text-emerald-500">
			<p>
				This is where I get to show off some of the things that I'm working on.
				Those things might be <strong>apps</strong>, or simply game resources like
				<strong>maps</strong> or <strong>random tables.</strong> My goal is to make
				things that help you organize, run or play TTRPGs more easily.
			</p>
		</div>
		<div class="flex gap-4 items-center">
			<Social icon="github" colors="bg-white text-black" href="https://github.com/ttrpgtools/" />
			<Social icon="patreon" colors="bg-patreon text-white" href="https://patreon.com/ttrpgtools/" />
			<Social icon="discord" colors="bg-discord text-white" href="https://discord.gg/KFsS85zd5B" />
		</div>
	</Section>
	<Section>
		<h2 class="text-lg font-bold text-emerald-500 mb-4">Projects</h2>
		<div class="flex flex-col gap-4">
			{projects.map(proj => (
				<Project title={proj.data.title} url={proj.data.url} slug={proj.slug} excerpt={proj.data.excerpt} tags={proj.data.tags} icon={proj.data.icon} code={proj.data.code} />
			))}
		</div>
	</Section>
</Base>
