---
import Base from "$layout/Base.astro";
import Section from "$part/Section.astro";
import { getCollection } from "astro:content";
import Project from "$part/Project.astro";

const projects = await getCollection('projects');
---
<Base head={{title: 'Projects', description: 'A list of projects from TTRPG.tools' }}>
	<Section>
    <h2 class="text-3xl font-serif font-bold mb-4">Projects</h2>
    <div class="flex flex-col gap-4">
      {projects.map(proj => (
        <Project title={proj.data.title} url={proj.data.url} slug={proj.id} excerpt={proj.data.excerpt} tags={proj.data.tags} icon={proj.data.icon} code={proj.data.code} />
        ))}
    </div>
	</Section>
</Base>
