---
import type Date from '$part/Date.astro';
import Footer from '$part/Footer.astro';
import Hero from '$part/Hero.astro';
import type Icon from '$part/Icon.svelte';
import NavBar from '$part/NavBar.astro';
import Seo from '$part/Seo.astro';
import { config } from '$util/config';
export interface Props {
  head: {
    title: string;
    description: string;
    socialImg?: string;
  };
  proseFoot?: boolean;
}
const {
  head: { title, description, socialImg },
  proseFoot,
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=jetbrains-mono:400|recursive:400,700|merriweather:700" rel="stylesheet" />
    <Seo title={title} description={description} img={socialImg} />
    <meta name='author' content={config.author} />
    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <script src="https://beneficial-handsome.ttrpg.tools/script.js" data-site="GKYKKFRM" data-excluded-domains="localhost" defer></script>
  </head>
  <body class:list={['bg-zinc-900', 'text-gray-50', 'font-sans']}>
    <NavBar />

    <slot></slot>

    <Footer prose={proseFoot} />
  </body>
</html>